<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Administración Buffet</title>
        <link rel="stylesheet" href="css/layout.css">
        <link rel="stylesheet" href="css/estilobackend.css">

        <meta charset="utf-8" /> 
        <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    </head>
    <body id="principal">
      <div class="wrapper">
        <header>
            <h1> 
                Administración del Buffet - Facultad de Informática UNLP
            </h1>            
             
       </header> 
 <div class="content">
  <ul>
  <li class="dropdown">
    <a href="#" class="dropbtn">Inicio Administrador</a>
   
  </li>

  
<li class="dropdown infoLogin" >
    <a href="index.html" class="dropbtn">Cerrar sesión</a>
    
  </li>
  <li class="dropdown infoLogin" >
    <a href="#" class="dropbtn">¡Hola Admin!</a>
    
  </li>


</ul>
 <ul>
  <li class="dropdown">
    <a href="#" class="dropbtn">Productos</a>
    <div class="dropdown-content">
      <a href="altaProducto.html">Alta</a>
      <a href="#">Modificación</a>
      <a href="#">Baja</a>
    </div>
  </li>
<li class="dropdown">
    <a href="#" class="dropbtn">Ventas</a>
    <div class="dropdown-content">
      <a href="#">Alta</a>
      <a href="#">Modificación</a>
      <a href="#">Baja</a>
    </div>
  </li>
<li class="dropdown">
    <a href="#" class="dropbtn">Gastos</a>
    <div class="dropdown-content">
      <a href="#">Alta</a>
      <a href="#">Modificación</a>
      <a href="#">Baja</a>
    </div>
  </li>
<li class="dropdown">
    <a href="#" class="dropbtn">Menú</a>
    <div class="dropdown-content">
      <a href="#">Alta</a>
      <a href="#">Modificación</a>
      <a href="#">Baja</a>
    </div>
  </li>
<li class="dropdown">
    <a href="#" class="dropbtn">Usuarios</a>
    <div class="dropdown-content">
      <a href="#">Alta</a>
      <a href="#">Modificación</a>
      <a href="#">Baja</a>
    </div>
  </li>
<li class="dropdown">
    <a href="#" class="dropbtn">Pedidos Online</a>
    <div class="dropdown-content">
      <a href="#">Alta</a>
      <a href="#">Modificación</a>
      <a href="#">Baja</a>
    </div>
  </li>
  <li><a href="./?action=listaProductos">Listado de productos</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Balance</a>
    <div class="dropdown-content">
      <a href="#">Listado de productos faltantes</a>
      <a href="#">Listado de productos con stock mínimo</a>
      <a href="#">Listado de ingresos entre dos fechas</a>
      <a href="#">Listado de gastos entre dos fechas</a>
    </div>
  </li>
</ul>
</div>
<div class="bienvenida">
    <p>
    <h2>¡Bienvenido, Administrador!</h2>

    <br>

    <h3>En el menú superior podrá encontrar las operaciones disponibles para realizar la administración del buffet de la Facultad de Informática de la Universidad Nacional de La Plata</h3>

    <br>

    <p>Cualquier duda mandar un mail a soportebuffet@info.unlp.edu.ar</p>

     </div>
<div class="push"></div>
     </div>
        <footer class="footer">
            <p>Handmade with love by Grupo 30</p>
        </footer>
    </body>
</html>